modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
AWS_BLOCKCHAIN_NODE_URL = "https://nd-5q7q2xbykzhafpbrivluwrd5vm.ethereum.managedblockchain.us-east-1.amazonaws.com"
AWS_REGION = "us-east-1"
ETHEREUM_NETWORK = "sepolia"
SARA_CONTRACT_ADDRESS = "0xd8b934580fcE35a11B58C6D73aDeE468a2833fa8"
VITE_API_URL = "https://37517c62-6731-493e-bb90-4794d0b94647-00-3yya0pw3yi8j.pike.replit.dev/api"
VITE_SARA_CONTRACT_ADDRESS = "0xd8b934580fcE35a11B58C6D73aDeE468a2833fa8"
ETHERSCAN_API_KEY = "64931IV1BDFPDGQCGC2P6GQWMZDTZXWF21"

[nix]
channel = "stable-25_05"
