DEPLOYER_PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000001
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY
ETHERSCAN_API_KEY=YOUR_ETHERSCAN_KEY
AWS_BLOCKCHAIN_NODE_URL=https://bn-ethereum-sepolia.YOURNODE.managedblockchain.us-east-1.amazonaws.com
AWS_REGION=us-east-1
